In [2]:
import pandas as pd
import re
import os
import glob

In [3]:
path_to_txt = "../data/2023_imagery/filtered/074_SPKLFMOV/W1593676089_1_CALIB_ML.txt"
test_df = pd.read_csv(path_to_txt, delimiter="	")

In [5]:

min_rad = test_df.groupby("Spoke Number")["# Rad"].min()
max_rad = test_df.groupby("Spoke Number")["# Rad"].max()
min_lon = test_df.groupby("Spoke Number")["Long"].min()
max_lon = test_df.groupby("Spoke Number")["Long"].max()
mean_intensity = test_df.groupby("Spoke Number")["Intensity"].mean()
count = test_df.groupby("Spoke Number")["Intensity"].count()
names = ["max_rad", "min_rad", "max_lon", "min_lon", "mean_intensity", "pixel_count"]

In [6]:
per_spoke_df = pd.concat([max_rad, min_rad, max_lon, min_lon, mean_intensity, count],axis=1)
per_spoke_df.columns = names
per_spoke_df = per_spoke_df.rename_axis(index = "spoke_num")
per_spoke_df

,max_rad,min_rad,max_lon,min_lon,mean_intensity,pixel_count
spoke_num,,,,,,
1,100377.358491,98490.566038,157.808431,154.469381,0.318767,139
2,100188.679245,94150.943396,70.993123,62.547290,0.298022,1030
3,98113.207547,90000.000000,169.200485,161.343896,0.298679,1337

In [8]:
test_df.head()

          # Rad        Long  Intensity  Spoke Number
0  98490.566038  154.665795   0.313016             1
1  98490.566038  154.862210   0.313923             1
2  98490.566038  155.058625   0.315573             1
3  98490.566038  155.255040   0.317989             1
4  98490.566038  155.451454   0.320238             1

In [3]:
txt_list = glob.glob("../../../data/2023_imagery/filtered/074_SPKLFMOV/*.txt")
names = ["max_rad", "min_rad", "max_lon", "min_lon", "mean_intensity", "pixel_count"]

In [4]:
for  path in txt_list:
    path_split = path.split("/")
    folder_path = "/".join(path_split[:-1])

    filename = path_split[-1].split('_')[0]
    test_df = pd.read_csv(path, delimiter="	")
    group_by = test_df.groupby("Spoke Number")

    min_rad = group_by["# Rad"].min().round(3)
    max_rad = group_by["# Rad"].max().round(3)
    min_lon = group_by["Long"].min().round(3)
    max_lon = group_by["Long"].max().round(3)
    mean_intensity =group_by["Intensity"].mean().round(3)
    count = group_by["Intensity"].count()

    per_spoke_df = pd.concat([max_rad, min_rad, max_lon, min_lon, mean_intensity, count],axis=1)
    per_spoke_df.columns = names
    per_spoke_df = per_spoke_df.rename_axis(index = "spoke_num")
    per_spoke_df.to_csv(f"{folder_path}/{filename}_spoke_ML.txt")

In [29]:
test_df.query("`Spoke Number` == 3")

             # Rad        Long  Intensity  Spoke Number
1169  90000.000000  162.129555   0.288841             3
1170  90000.000000  162.325970   0.283661             3
1171  90000.000000  162.522384   0.282848             3
1172  90000.000000  162.718799   0.283365             3
1173  90000.000000  162.915214   0.286415             3
...            ...         ...        ...           ...
2501  98113.207547  167.039923   0.309103             3
2502  98113.207547  167.236338   0.307477             3
2503  98113.207547  167.432752   0.309422             3
2504  98113.207547  167.629167   0.312884             3
2505  98113.207547  167.825582   0.315237             3

[1337 rows x 4 columns]